body{
    background-image: url(/img/boarddeco.jpg);
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
    cursor: url("img/cursor.png"), auto;
}

*{
    cursor: url("img/cursor.png"), auto;
}

#gif{
    margin: auto;
    width: 400px;
    height: auto;
    margin-top: 0px;
    align-items: center;
    display: block;
    cursor: url("img/cursor.png"), auto;
    opacity: 0;
    animation: fadeIn 1.0s ease-in forwards;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


@font-face {
    font-family: dirt;
    src: url("fonts/DirtyEnough-Regular.ttf");
}

h1{
    font-family: dirt;
    margin-left: 625px;
    margin-bottom: -30px;
    margin-top: 230px;
    position: absolute;
    z-index: 100;
    animation: fadeIn 1.0s ease-in forwards;

}

#papersplash{
    width: 300px;
    height: 100px;
    margin-left: 610px;
    margin-bottom: -30px;
    margin-top: 200px;
     animation: fadeIn 1.0s ease-in forwards;
}

